*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# internal documentation notes
docs/

# App build outputs and generated sources
/app/build/